body {
    background: white !important;
}

p {
    font-size: 14px;
}

#aboutme {
    padding-top: 80px;
}

.about-header {
    text-align: center;
    margin-bottom: 50px;
}

.about-header::before, .about-header::after {
    content: " ";
    display: inline-block;
    height: 2px;
    margin: 0 20px 10px 20px;
    width: 20%;
    top: 50%;
    background-color: rgb(51, 51, 51);
    background-repeat: repeat;
    background-attachment: scroll;
    background-image: none;
    background-size: auto auto;
    background-origin: padding-box;
    background-clip: border-box;
}

.row {
    height: auto !important;
}

#content {
    padding-bottom: 40px;
    font-family: 'Open Sans', sans-serif;
}

.img-holder {
    text-align: right;
}

.img-holder > img {
    max-width: 80%;
    border-radius: 5%;
}

.cwh > img {
    padding-top: 30px;
}

.highlights {
    padding: 0 25%;
}

.technologies {
    padding: 0 25%;
}

.divider {
  height: 1px;
  width:100%;
  display:block;
  margin: 15px 0;
  overflow: hidden;
  background-color: #eeeeee;
}

h4 {
    color: #37c;
}

h6 {
    color: #5e9516;
}

.degree {
    font-weight: bold;
}

.about-holder {
    text-align: center;
}

.about-pic {
    border-radius: 100px;
    margin-bottom: 25px;
}

.about-text {
    padding: 0 25%;
}

@media (max-width: 767px) {
    .about-text {
        padding: 0;
    }

    .about-header {
        margin-bottom: 20px;
    }

    .about-header::before, .about-header::after {
        display: none;
    }

    .img-holder, .highlights > div > h4, .highlights > div > h6 {
        text-align: center;
    }

    .highlights > div > h6 { 
        margin-bottom: 10px;
    }

    .img-holder > img {
        max-width: 150px;
    }
  }