<nav class="navbar navbar-dark navbar-expand-md bg-dark fixed-top">
    <a class="navbar-brand" href="/">sheldonfries</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="ml-auto navbar-nav">
            <a class="nav-item nav-link" href="/">Home</a>
            <li class="dropdown nav-item">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Apps<span class="caret"></span></a>
                <div class="dropdown-menu">
                    <span class="dropdown-header">Android Apps</span>
                    <a class="dropdown-item" href="https://play.google.com/store/apps/details?id=cc.cu.hockeycalculator.goofspiel&hl=en">Goofspiel</a>
                    <a class="dropdown-item" href="https://play.google.com/store/apps/details?id=cc.cu.hockeycalculator.hiittimer&hl=en">HIIT Timer</a>
                    <a class="dropdown-item" href="https://play.google.com/store/apps/details?id=com.companyname.Jumpy_Cat">Jumpy Cat</a>
                    <span class="dropdown-header">Web Apps</span>
                    <a class="dropdown-item" href="http://hockey.sheldonfries.com">Hockey Calculator</a>
                    <a class="dropdown-item" href="https://github.com/sheldonfries/login-page">Login Page</a>
                    <span class="dropdown-header">Miscellaneous</span>
                    <a class="dropdown-item" href="https://github.com/sheldonfries/crypto-reader">Crypto Reader</a>
                    <a class="dropdown-item" href="https://github.com/sheldonfries/TOSDataPuller">TOSDataPuller</a>
                </div>
            </li>
            <a class="nav-item nav-link" href="/about">About</a>
            <!-- <a class="nav-item nav-link" href="/blog">Blog</a> -->
        </ul>
    </div>
</nav>
