<div id="middle">
    <div id="content">
        <div id="aboutme">
            <div class="col about-holder">
                <img class="about-pic" src="/images/sheldon.jpg" alt="Sheldon Fries">
                <h1>Sheldon Fries</h1>
                <p class="about-text mt-4">
                    Hello! I'm a GIS Developer at Rizing Geospatial with 6 years of experience in the industry.
                    In my free time, I enjoy coding side projects, watching and writing about hockey, and lifting.
                </p>
                <p class="about-text">
                    I've earned my Bachelor's degree in Computer Science after studying at Simon Fraser University and Langara College.
                    Previously, I've worked at Esri Canada as a Developer and Canadian Web Hosting as a Junior Programmer.
                </p>
                <a class="btn btn-info" href="/assets/Resume.pdf" target="_blank" role="button">View Resume</a>
            </div>
        </div>
        <div class="margin-top-large"></div>
        <div id="technologies">
            <h1 class="about-header">Technologies</h1>
            <div class="row technologies">
                <div class="list-group list-group-flush">
                    <a class="list-group-item flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">JavaScript</h5>
                        </div>
                        <p class="mb-1">Years of experience with frameworks, interfaces, and other add-ons such as Angular, Node.js, React.js, and jQuery.</p>
                    </a>
                    <a class="list-group-item flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">Web & Application Design</h5>
                        </div>
                        <p class="mb-1">Worked with HTML and CSS (including Less and Sass) in designing the front-end of websites and web applications. Built Android applications following material design principles.</p>
                    </a>
                    <a class="list-group-item flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">Programming Languages</h5>
                        </div>
                        <p class="mb-1">Knowledgeable in Python, C#, C/C++, and Java through work, personal projects, and class assignments.</p>
                    </a>
                    <a class="list-group-item flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">Version Control</h5>
                        </div>
                        <p class="mb-1">Experienced with Git and its commonly used platforms such as GitHub and GitLab.</p>
                    </a>
                    <a class="list-group-item flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">Miscellaneous</h5>
                        </div>
                        <p class="mb-1">Adept at using the Microsoft Office suite (Word, Excel, PowerPoint, etc.), and Adobe Photoshop.</p>
                    </a>
                </div>
            </div>
        </div>
        <div class="margin-top-large"></div>
        <div id="highlights">
            <h1 class="about-header">Highlights</h1>
            <div class="row highlights">
                <div class="col-md-5 img-holder">
                    <img src="/images/about/rizing.jpg" alt="Rizing Geospatial">
                </div>
                <div class="col-md-7">
                    <h4>Rizing Geospatial</h4>
                    <h6><span class="degree">Senior Developer</span><br>April 2023 - Present</h6>
                    <h6><span class="degree">GIS Developer</span><br>December 2021 - April 2023</h6>
                    <div class="list-group list-group-flush">
                        <a class="list-group-item flex-column align-items-start">
                            <p>Collaborate with clients to provide geospatial solutions for a variety of industries, including oil & gas and transportation</p>
                        </a>
                        <a class="list-group-item flex-column align-items-start">
                            <p>Create Python & .NET programs to manipulate and maintain client geospatial data</p>
                        </a>
                        <a class="list-group-item flex-column align-items-start">
                            <p>Work with project managers to define requirements and design implementations for client projects</p>
                        </a>
                        <a class="list-group-item flex-column align-items-start">
                            <p>Train and mentor team of junior developers on geospatial development and SOLID principles</p>
                        </a>
                    </div>
                </div>
            </div>
            <div class="divider"></div>
            <div class="row highlights">
                <div class="col-md-5 img-holder">
                    <img src="/images/about/esri.png" alt="Esri Canada">
                </div>
                <div class="col-md-7">
                    <h4>Esri Canada</h4>
                    <h6><span class="degree">Developer</span><br>May 2020 - December 2021</h6>
                    <h6><span class="degree">GIS Analyst</span><br>June 2019 - May 2020</h6>
                    <div class="list-group list-group-flush">
                        <a class="list-group-item flex-column align-items-start">
                            <p>Developed and maintained web applications for clients using Angular/TypeScript</p>
                        </a>
                        <a class="list-group-item flex-column align-items-start">
                            <p>Wrote automation scripts in Python to aide team members in 3D building model digitization process</p>
                        </a>
                        <a class="list-group-item flex-column align-items-start">
                            <p>Utilized the ArcGIS API to build web applications containing 3D geographic models with interactive features</p>
                        </a>
                        <a class="list-group-item flex-column align-items-start">
                            <p>Collected data from external sources to create visualizations on top of 3D models</p>
                        </a>
                    </div>
                </div>
            </div>
            <div class="divider"></div>
            <div class="row highlights">
                <div class="col-md-5 img-holder">
                    <img src="/images/about/cwh.png" alt="Canadian Web Hosting">
                </div>
                <div class="col-md-7">
                    <h4>Canadian Web Hosting</h4>
                    <h6><span class="degree">Junior Programmer</span><br>April 2018 - February 2019</h6>
                    <div class="list-group list-group-flush">
                        <a class="list-group-item flex-column align-items-start">
                            <p>Focused on front-end and back-end aspects of projects, from designing the layout and CSS of websites to managing databases and writing logic for applications</p>
                        </a>
                        <a class="list-group-item flex-column align-items-start">
                            <p>Leveraged knowledge in Full Stack web development, Git, algorithms & data structures, JavaScript, and debugging with Chrome Dev Tools</p>
                        </a>
                    </div>
                </div>
            </div>
            <div class="divider"></div>
            <div class="row highlights">
                <div class="col-md-5 img-holder">
                    <img src="/images/about/sfu.png" alt="Simon Fraser University">
                </div>
                <div class="col-md-7">
                    <h4>Simon Fraser University</h4>
                    <h6><span class="degree">BSc, Computing Science</span><br>January 2018 - April 2020</h6>
                    <div class="list-group list-group-flush">
                        <a class="list-group-item flex-column align-items-start">
                            <p>Programming coursework in algorithms & data structures, operating systems, networking, databases, machine learning, and software engineering</p>
                        </a>
                        <a class="list-group-item flex-column align-items-start">
                            <p>Dean’s Honour Roll: Spring 2020</p>
                        </a>
                    </div>
                </div>
            </div>
            <div class="divider"></div>
            <div class="row highlights">
                <div class="col-md-5 img-holder">
                    <img src="/images/about/langara.png" alt="Langara College">
                </div>
                <div class="col-md-7">
                    <h4>Langara College</h4>
                    <h6><span class="degree">Computer Science</span><br>January 2015 - December 2017</h6>
                    <div class="list-group list-group-flush">
                        <a class="list-group-item flex-column align-items-start">
                            <p>Dean’s Honour Roll: Spring 2016, Fall 2016</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>