<div id="middle">
    <div id="content" class="row mt-5 mb-5">
        <div id="left" class="col-md-5 mb-5">
            <div id="bio" class="affix">
                <div class="col about-holder">
                    <h1 class="emphasis name-text">Sheldon Fries</h1>
                    <h5 class="emphasis">Senior Software Engineer</h5>
                    <p class="about-text">
                        GIS Developer at Rizing Geospatial with 7 years of experience in the industry.
                    </p>
                </div>
                <ul class="ml-auto navbar-nav mt-4">
                    <li class="nav-item">
                        <a href="#highlights" class="nav-link bold" role="button">
                            <span class="nav-indicator me-1">►</span>
                            <span class="nav-text">EXPERIENCE</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#research" class="nav-link bold" role="button">
                            <span class="nav-indicator me-1">►</span>
                            <span class="nav-text">RESEARCH</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#projects" class="nav-link bold" role="button">
                            <span class="nav-indicator me-1">►</span>
                            <span class="nav-text">PROJECTS</span>
                        </a>
                    </li>
                    <!-- <a class="nav-item nav-link" href="/blog">Blog</a> -->
                </ul>
                <div class="footer">
                    <nav class="navbar-expand mt-5">
                        <ul class="navbar-nav navbar-justify">
                            <li class="nav-item">
                                <a class="nav-link" href="https://github.com/sheldonfries" target="_blank"><i class="fab fa-github"></i></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="https://www.linkedin.com/in/sheldonfries/" target="_blank"><i class="fab fa-linkedin"></i></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="https://play.google.com/store/apps/developer?id=Sheldon+Fries&hl=en" target="_blank"><i class="fab fa-android"></i></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="mailto:sheldonfries@gmail.com" target="_blank"><i class="fas fa-envelope"></i></a>
                            </li>
                        </ul>
                    </nav>
                </div> 
            </div>
        </div>
        <div id="right" class="col-md-7">
            <div id="aboutme" class="mb-5">
                <div class="col about-holder">
                    <p class="about-text">
                        I'm a software developer with a passion for crafting innovative and efficient solutions. 
                        I specialize in creating robust applications and delivering scalable and maintainable software. 
                        With years of experience in full-stack development, I thrive at the intersection of problem-solving, collaboration, and mentoring. 
                        My approach to development emphasizes best practices, continuous learning, and a focus on user-centric design.
                    </p>
                    <p class="about-text">
                        Currently, I'm a Senior Developer at Rizing Geospatial, specializing in geospatial solutions for a number of clients in the transportation and oil & gas sectors.
                        I develop and maintain geospatial data systems using Python and .NET, ensuring data integrity and usability. 
                        Partnering with project managers, I define requirements and design implementations that align with client objectives. 
                        Additionally, I lead and mentor a team of junior developers, guiding them on geospatial development and SOLID principles to build a stronger, more capable team.
                    </p>
                    <p class="about-text">
                        Previously, I've worked at Esri Canada as a Developer and Canadian Web Hosting as a Junior Programmer.
                        I completed my Bachelor's degree in Computer Science after studying at Simon Fraser University and Langara College.
                    </p>
                    <p class="about-text">
                        In my free time, I enjoy lifting, video games, and watching/playing sports. 
                    </p>
                </div>
            </div>
            <div id="highlights" class="pt-5 mb-5">
                <div class="row highlights mb-5">
                    <div class="col-md-3 img-holder">
                        <img src="/images/about/rizing.jpg" alt="Rizing Geospatial">
                    </div>
                    <div class="col-md-9">
                        <h4 class="emphasis text-md">Senior Developer · Rizing Geospatial</h4>
                        <h6 class="text-sm">2021 - Present</h6>
                        <p class="text-sm">
                            Collaborate with clients to provide geospatial solutions for a variety of industries, including oil & gas and transportation.
                            Create Python & .NET programs to manipulate and maintain client geospatial data.
                            Work with project managers to define requirements and design implementations for client projects.
                            Train and mentor team of junior developers on geospatial development and SOLID principles.
                        </p>
                        <span class="badge rounded-pill text-bg-primary">Python</span>
                        <span class="badge rounded-pill text-bg-primary">ArcGIS</span>
                        <span class="badge rounded-pill text-bg-primary">TypeScript</span>
                        <span class="badge rounded-pill text-bg-primary">C#/.NET</span>
                        <span class="badge rounded-pill text-bg-primary">SQL</span>
                    </div>
                </div>
                <div class="row highlights mb-5">
                    <div class="col-md-3 img-holder">
                        <img src="/images/about/esri.png" alt="Esri Canada">
                    </div>
                    <div class="col-md-9">
                        <h4 class="emphasis text-md">Developer · Esri Canada</h4>
                        <h6 class="text-sm">2019 - 2021</h6>
                        <p class="text-sm">
                            Developed and maintained web applications for clients using Angular/TypeScript.
                            Wrote automation scripts in Python to aide team members in 3D building model digitization process.
                            Utilized the ArcGIS API to build web applications containing 3D geographic models with interactive features.
                            Collected data from external sources to create visualizations on top of 3D models.
                        </p>
                        <span class="badge rounded-pill text-bg-primary">TypeScript</span>
                        <span class="badge rounded-pill text-bg-primary">Angular</span>
                        <span class="badge rounded-pill text-bg-primary">ArcGIS</span>
                        <span class="badge rounded-pill text-bg-primary">Python</span>
                        <span class="badge rounded-pill text-bg-primary">C#/.NET</span>
                    </div>
                </div>
                <div class="row highlights mb-5">
                    <div class="col-md-3 img-holder">
                        <img src="/images/about/cwh.png" alt="Canadian Web Hosting">
                    </div>
                    <div class="col-md-9">
                        <h4 class="emphasis text-md">Junior Programmer · Canadian Web Hosting</h4>
                        <h6 class="text-sm">2018 - 2019</h6>
                        <p class="text-sm">
                            Focused on front-end and back-end aspects of projects, from designing the layout and CSS of websites to managing databases and writing logic for applications.
                            Leveraged knowledge in Full Stack web development, Git, algorithms & data structures, JavaScript, and debugging with Chrome Dev Tools.
                        </p>
                        <span class="badge rounded-pill text-bg-primary">JavaScript</span>
                        <span class="badge rounded-pill text-bg-primary">Angular</span>
                        <span class="badge rounded-pill text-bg-primary">React</span>
                        <span class="badge rounded-pill text-bg-primary">HTML/CSS</span>
                        <span class="badge rounded-pill text-bg-primary">jQuery</span>
                    </div>
                </div>
                <div class="row highlights mb-5">
                    <div class="col-md-3 img-holder">
                        <img src="/images/about/sfu.png" alt="Simon Fraser University">
                    </div>
                    <div class="col-md-9">
                        <h4 class="emphasis text-md">BSc, Computing Science · Simon Fraser University</h4>
                        <h6 class="text-sm">2018 - 2020</h6>
                        <p class="text-sm">
                            Programming coursework in algorithms & data structures, operating systems, networking, databases, machine learning, and software engineering.
                            Dean’s Honour Roll: Spring 2020
                        </p>
                    </div>
                </div>
                <div class="row highlights mb-5">
                    <div class="col-md-3 img-holder">
                        <img src="/images/about/langara.png" alt="Langara College">
                    </div>
                    <div class="col-md-9">
                        <h4 class="emphasis text-md">BSc, Computer Science · Langara College</h4>
                        <h6 class="text-sm">2015 - 2017</h6>
                        <p class="text-sm">Dean’s Honour Roll: Spring 2016, Fall 2016</p>
                    </div>
                </div>
                <div class="ms-4">
                    <a class="btn btn-dark" href="/assets/Resume.pdf" target="_blank" role="button">View Full Resume</a>
                </div>
            </div>
            <div id="research" class="pt-5">
                <div class="row research mb-5">
                    <div class="col-md-3 img-holder">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/1/1a/Twitter_logo.png" alt="Twitter logo">
                    </div>
                    <div class="col-md-9">
                        <a class="emphasis text-md" href="/blog/Detecting-Tweet-Sentiment-Ordinal_Classification/">Detecting Tweet Sentiment</a>
                        <p class="text-sm">Natural Language Processing research project exploring the classification of tweets into sentiment groups.</p>
                    </div>
                </div>
                <div class="row research mb-5">
                    <div class="col-md-3 img-holder">
                        <img src="https://upload.wikimedia.org/wikipedia/en/4/44/SIR_model_with_carrier.PNG" alt="SIR Model">
                    </div>
                    <div class="col-md-9">
                        <a class="emphasis text-md" href="/blog/C-TIP-Total-Infected-Prediction-COVID-19/">COVID-19 SIR Projection</a>
                        <p class="text-sm">Biomedical Computing research project investigating the spread of COVID-19 and modeling scenarios using a SIR model.</p>
                    </div>
                </div>
            </div>
            <div id="projects" class="pt-5">
                <div class="row projects mb-5">
                    <div class="col-md-3 img-holder">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRkDEGI3Vyo01XpIIA6w6WRGhPCUz57gEUgcA&s" alt="TransLink logo">
                    </div>
                    <div class="col-md-9">
                        <a class="emphasis text-md" href="https://sheldonfries.com/transit">Metro Vancouver Transit</a>
                        <p class="text-sm">Angular application that leverages the Translink (Metro Vancouver transit authority) API to pull information on nearby buses and trains.</p>
                    </div>
                </div>
                <div class="row projects mb-5">
                    <div class="col-md-3 img-holder">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/4/48/TSE_1st_Section_Trading_volume%28M_Avg%29%281972-%29.png" alt="A chart showing trading activity">
                    </div>
                    <div class="col-md-9">
                        <a class="emphasis text-md" href="https://github.com/sheldonfries/TOSDataPuller">TOSDataPuller</a>
                        <p class="text-sm">Interface that pulls data from ThinkOrSwim and dumps to CSV files.</p>
                    </div>
                </div>
                <div class="row projects mb-5">
                    <div class="col-md-3 img-holder">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS9hP9iybi5nSWjqIAVJLniv122911N0w4Kdg&s" alt="Hockey stick and puck">
                    </div>
                    <div class="col-md-9">
                        <a class="emphasis text-md" href="https://github.com/sheldonfries/nhl-study">NHL Player Study</a>
                        <p class="text-sm">Scrapes player and game data from NHL.com to be used in studies on players and prospects.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>