<div id="middle">
    <div class="row timer">
        <div class="col-md-7">
            <div class="desctimer">
                <div class="pic mobile">
                    <img src="images/phone4.png">
                </div>
                <h1>HIIT TIMER</h1>
                <p>HIIT Timer is a simple, easy-to-use application to be used with an HIIT/Tabata workout routine. The two alternating timers allow for one working or sprinting rep followed by a rest rep. In the settings, there is an optional 3 second start timer which allows the user to put their phone in their pocket before training.</p>
                <a class="download btn btn-light btn-lg" href="https://play.google.com/store/apps/details?id=cc.cu.hockeycalculator.hiittimer" target="_blank"><i class="fa fa-download" aria-hidden="true"></i> Download</a>
            </div>
        </div>
        <div class="col-md-5">
            <div class="timer-pic lg-device">
                <img src="images/phone4.png">
            </div>
        </div>
    </div>
    <div class="row goofspiel">
        <div class="col-md-5">
            <div class="goof-pic lg-device">
                <img src="images/phone3.png">
            </div>
        </div>
        <div class="col-md-7">
            <div class="descgoof">
                <div class="pic mobile">
                    <img src="images/phone3.png">
                </div>
                <h1>GOOFSPIEL</h1>
                <p>Goofspiel is a simple card game for two or more players, requiring a certain level of strategy to win. Each player is given one suit from the deck and plays for cards from the Spade suit. The goal of the game is to end up with higher valued cards than your opponent by playing higher ranked cards of your own. Once all 13 Spade cards have been won, the player with the highest point value wins the game.</p>
                <a class="download btn btn-light btn-lg" href="https://play.google.com/store/apps/details?id=cc.cu.hockeycalculator.goofspiel&hl=en" target="_blank"><i class="fa fa-download" aria-hidden="true"></i> Download</a>
            </div>
        </div>
    </div>
</div>